#options-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.option {
  position: relative;
  display: inline-flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.option--chosen {
  filter: drop-shadow(0 0 12px gold);
}

.option--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.option-bg {
  display: block;
  height: auto;
  width: 100%;
}

.option-button-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;  
  align-items: center;
  justify-items: center;
  padding: 10% 10%;
}

.option-icon {
  width:auto;
  height: 15vh;
  align-self: end;   
}

.option-label {
  font-family: 'LondrinaSolid', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
  text-align: center;
  max-width: 90%;
  align-self: start;  
  line-height: 1.2;
}