.start-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.start-prompt p:first-child {
  font-size: 3rem;
  font-style: italic;
  margin: 0;
}

.start-prompt p:last-child {
  font-size: 3rem;
  font-style: normal;
  color: white;
  margin: 0;
}