body {
    background-image: url(../../media/assets/backgrounds/sad-cheese-seller.jpg);
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/*-------------------TOP OF SCREEN-------------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 20vh;
}

.creature-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.creature-bg {
    width: 170px;
    height: 170px;
    background-color: #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.creature-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

/* Life bars */

.life-bar {
    position: absolute;
    right: -125px;           
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;  
    align-items: center; 
    gap: 6px;
    height: 80px;
    background-color: #222;
    padding: 9px 29px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
}

.life-segment {
    width: 20px;
    height: 50px;
    background-color: #555;
    border: 2px solid #000;
    transform: skewX(-20deg);   
}

.life-segment.filled {
    background-color: #008100;
}

.wizard-bar {
    display: flex;
    padding: 30px;
    border-radius: 50px;
    width: 50%;
    height: 40px;          
    align-items: center;
    background-color: #333333;
    overflow: hidden;
}

.segment {
    flex: 1;
    height: 100%;
    background-color: #ddd;
    border: 2px solid #000;  
    transform: skewX(-20deg); 
}


.segment.filled {
    background-color: #bb0000;
}


#timer-container {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(#bb0000 360deg, #222 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Inner circle to create border effect */
.timer-circle::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
}

#timer {
    position: relative;
    font-size: 3em;
    font-weight: bold;
    z-index: 2;
}


/*-------------------MAIN CONTENT-------------------*/

.content {
    display: flex;
    height: 80vh;
    padding: 20px;
}

#scenario-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 50%;              
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#scenario-name,
#scenario {
    text-align: left;
}


#scenario-name {
    font-size: 1.25em;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#scenario {
    font-size: 3em;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 80%;
}
