.character-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.character-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(128, 128, 128, 0.8);
    border-radius: 20px; */
    margin: 20px;
    width: 50%;
}

.character-image img {
    width: 100%;
}

.character-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center; 
    width: 50%; 
}

.character-name {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.character-name img {
    width: 100%;
    height: auto;
    display: block;
}

.character-bio {
    display: flex;
    flex-direction: column;
}

.character-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.character-item img {
    width: 100%;
    height: auto;
    z-index: 1;
    transform: translateX(-7%);
}

.item-name {
    position: absolute;
    margin: 0;
    z-index: 2;
}

/* .character-bio,
.character-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
} */