.creature-wrapper {
  position: relative;
  display: inline-flex;
}

.creature-bg {
  display: block;
  width: 50%;
  height: auto;
}

.creature-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.creature-name {
  position: absolute;
  top: -20%;
  left: 65%;
  transform: translateX(-50%);
  text-align: center;

  font-family: 'LondrinaSolid', sans-serif;
  font-size: 4em;

  background: linear-gradient(to bottom, #FFF1BD 50%, #FFCD9D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 5px black;
  paint-order: stroke fill;
}

.item-bar {
  position: absolute;
  top: 62%;      
  left: 42%;
  right: 8%;
  display: flex;
  gap: 8px;
}

.item {
  
}