.wizard-wrapper {
  position: relative;
  display: inline-block;
}

.wizard-bg {
  display: block;
  height: auto;
  width: 30vw;
}

.wizard-content {
  position: absolute;
  inset: 0;
}

.wizard-bar-area {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  transform: translateY(-50%);
}

.wizard-fill-img {
  position: absolute;
  transform: translate(14%, -140%) rotate(180deg);
  height: auto;
  width: 52%;
}

.wizard-diamond {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

.wizard-percent {
  margin: 0;
  transform: translateX(20%);
  font-family: 'LondrinaSolid', sans-serif;
  font-size: 5em;

  background: linear-gradient(to bottom, #FFF1BD 50%, #FFCD9D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 5px black;
  paint-order: stroke fill;
}

.wizard-scenario {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.wizard-scenario-text {
  margin: 0;
  transform: translate(-160%, 15%);
  font-family: 'LondrinaSolid', sans-serif;
  font-size: 4em;

  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 5px black;
  paint-order: stroke fill;

}