body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.app-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content-container {
  padding: 20px;
  gap: 20px; 
  display: flex;
  flex-direction: column;
}

