.header-wrapper {
    position: relative;  
    width: 100%;
    height: 20vh;
}

#creature-bar-container {
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
}

#wizard-bar-container {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#timer-container {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
}