.wizard-bar {
    display: flex;
    padding: 30px;
    border-radius: 50px;
    width: 50vw;
    height: 40px;          
    align-items: center;
    background-color: #222;
    overflow: hidden;
}

.segment {
    flex: 1;
    height: 100%;
    background-color: #ddd;
    border: 2px solid #000;  
    transform: skewX(-20deg); 
}


.segment.filled {
    background-color: #bb0000;
}