body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

