body {
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content-container {
  padding: 20px;
  gap: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


