.timer-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 25vw;
    height: 20vh;
}

.timer-diamond {
    width: 120px;
    height: 120px;
    background-color: #585858;
    border-radius: 20px;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
    0 0 0 2px black,
    0 0 10px black;
    z-index: 1;
}

.timer-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170%;       
    height: 170%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: conic-gradient(#9D64DD 0deg, #585858 0deg);
}

.timer-bars-wrapper {
    position: absolute;
    right: 70px; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
    z-index: 0;
}

.timer-bar,
.scenario-bar {
    height: 60px;              
    padding: 0 40px;           
    display: flex;
    align-items: center;   
    justify-content: left;
    box-shadow:
    0 0 0 2px black,
    0 0 10px black;
}

.timer-bar {
    width: 150px;
    background-color: #585858;
    transform: skewX(20deg);
    border-radius: 10px;
}

#timer {
    position: relative;
    font-size: 3em;
    font-weight: bold;
    z-index: 2;
    color: white; 
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: #000;
    paint-order: stroke fill;
    transform: skewX(-20deg);
}

.scenario-bar {
    width: 130px;
    gap: 6px;
    background-color: #CBCBCB;
    transform: skewX(20deg);
    border-radius: 10px;
}

.scenario-number {
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #000;
    paint-order: stroke fill;
    transform: skewX(-20deg);
}
