.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.timer-circle {
  position: relative;
  display: inline-flex;
  width: 15vw;
}

.timer-bg {
  display: block;
  height: auto;
  width: 100%
}

.timer-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-number {
  font-family: 'LondrinaSolid', sans-serif;
  font-size: 10em;

  background: linear-gradient(to bottom, #FFF1BD 50%, #FFCD9D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 5px black;
  paint-order: stroke fill;
  margin: 0;
}

.scenario-number {
  font-family: 'LondrinaSolid', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 1.5vw;
  margin: 0;
}